footer {
    display: flex;
    bottom: 0;
    width: 99%;
    padding-bottom: 2.5px;
    margin: 10px;
    background-color:  rgba(238, 92, 44, 0.982);
    align-items: center;
    height: 25px;
    border-radius: 5px;
  }